<hr>
<footer>

  <h1>Personajes e Historia <h1>

    <div>
      <ul>
        <li>MK INICIO</li>
        <li>MK 1</li>
        <li>MK 2</li>
        <li>MK 3</li>
        <li>MK 4</li>
        <li>MK 5</li>
        <li>MK 6</li>
        <li>MK 7</li>
        <li>MK 8</li>
        <li>MK 9</li>
        <li>MK X</li>
        <li>MK 11</li>
        <li>MK 12</li>
        <li>MK 13</li>
        <li>MK 14</li>
        <li>MK 15</li>
        <li>MK 16</li>
        <li>MK 17</li>
        <li>MK 18</li>
        <li>MK 19</li>
        <li>MK 20</li>

        <ul>
      <div>
  🎈🦡 <small>Sitio hecho con <a href="https://www.11ty.dev/" target="_blank"><b><i>11ty</i></b></a></small> 🦡🎈
</footer>
