<header>
  
    {% include "menu.njk" %}

    
    <img src="/img/MK_Tipografia.png" alt="Mortal Kombat Tiporafia " width="auto" height="100">

      <h3>Guia de historia de <b> Mortal Kombat </b></h3>
  </header>