---
layout: layout-page.njk
title: Página de Acerca
description: Meta descripción de la página de acerca
---

<h1>{{ title }}</h1>
<p>
 Articulo creado por Jose Antonio Perez Islas 
 Estudiante de la carrera: Desarrollo de Software Interactivo y Videojuegos
 siendo la entrega del proyecto final de Programación En Lenguajes Interpretados
Redes sociales 
- [Itch.io](https://jern-armen.itch.io)
- [Instagram ](https://www.instagram.com/antonioperez7348/)
- [Steam](https://steamcommunity.com/profiles/76561199031479814/)

</p>
<img src="/img/eleventy-mascots.avif" alt="Mascotas Eleventy">